* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --dark-background: #1f2937;
    --text-color: #f9faf8;
    --text-secondary: #e5e7eb;
    --button-color: #3882f6;
    --text-information: #1f2937;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: var(--dark-background);
    padding: 20px 200px;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

nav a {
    font-size: 1.125rem;
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}

.hero {
    background-color: var(--dark-background);
    gap: 50px;
}

.text-main {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 10px;
}

.text-secondary {
    color: var(--text-secondary);
    font-size: 18px;
    padding-bottom: 10px;
}

.hero-button {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

img {
    max-width: 50vw;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

.additional-info {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.product-container {
    display: flex;
    align-items: center;
}

.product-image {
    width: 15vw;
    height: 30vh;
    border: 3px solid var(--button-color);
    border-radius: 20px;
    text-align: center;
}

.product-container p  {
    text-align: center;
    padding: 5px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-additional p {
    font-size: 36px;
    color: var(--text-information);
    font-weight: bolder;
}

.quotes-section {
    background-color: var(--text-secondary);
    flex-direction: column;
    gap: 10px;
}

.quotes {
    font-size: 36px;
    font-style: italic;
    color: var(--text-information);
}

.quoted-from {
    font-size: 24px;
    font-weight: bolder;
    align-items: flex-start;
    margin-left: auto;
}

.call-to-action {
    color: var(--text-color);
}

.cta-container {
    width: 100%;
    height: 25vh;
    background-color: var(--button-color);
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
}

.cta-text {
    align-content: center;
}

.cta-headline {
    font-size: 32px;
    font-weight: bold;
}

.cta-subtext {
    color: var(--text-secondary);
}

.cta-button {
    align-content: center;
}

.call-to-action button {
    background-color: var(--button-color);
    border: 3px solid white;
    padding: 5px 30px;
    color: var(--text-color);
    border-radius: 5px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 426px) {
    header {
        padding: 0;
    }
    
    .header {
        flex-direction: column;
    }

    .logo {
        font-size: 24px;
        padding-bottom: 10px;
    }

    ul {
        flex-direction: column;
    }

    nav a {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 769px) {
    header {
        padding: 5px 150px;
    }
    
    .header {
        flex-direction: column;
    }

    .logo {
        padding-bottom: 10px;
    }

    .text-main {
        font-size: 32px;
    }

    .text-secondary {
        font-size: 12px;
    }

    .title-additional p {
        font-size: 24px;
    }

    .additional-info {
        padding: 0 50px;
    }

    .quotes {
        font-size: 24px;
    }

    .quoted-from {
        font-size: 18px;
    }

    .call-to-action {
        padding: 0 50px;
    }
}